# GCP
PROJECT_ID=realtime-sales-pipeline
DATASET=sales_analytics
REGION=us-central1

# Storage
BUCKET_NAME=restaurant-data-bucket-walter
SALES_FILE=ventas_pos.csv
INVENTORY_FILE=inventario.csv

# BigQuery tables
TABLE_SALES_STAGING=realtime-sales-pipeline.sales_analytics.sales_staging
TABLE_SALES_FINAL=realtime-sales-pipeline.sales_analytics.sales_final
TABLE_INVENTORY_STAGING=realtime-sales-pipeline.sales_analytics.inventory_staging
TABLE_INVENTORY_FINAL=realtime-sales-pipeline.sales_analytics.inventory_final
TABLE_DELIVERY=realtime-sales-pipeline.sales_analytics.delivery_realtime

# Pub/Sub
TOPIC_ID=delivery-topic
SUBSCRIPTION_ID=delivery-sub
